[submodule "contrib/fmt"]
	path = contrib/fmt
	url = https://github.com/fmtlib/fmt
	shallow = true
[submodule "contrib/spdlog"]
	path = contrib/spdlog
	url = https://github.com/gabime/spdlog
	shallow = true
[submodule "contrib/glm"]
	path = contrib/glm
	url = https://github.com/g-truc/glm.git
	shallow = true
[submodule "contrib/crampl"]
	path = contrib/crampl
	url = https://github.com/ekpyron/crampl
	shallow = true
	branch = master
[submodule "contrib/Catch2"]
	path = contrib/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "contrib/imgui"]
	path = contrib/imgui
	url = https://github.com/ocornut/imgui.git
