[submodule "contrib/fmt"]
	path = contrib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "contrib/spdlog"]
	path = contrib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "contrib/glm"]
	path = contrib/glm
	url = https://github.com/g-truc/glm.git
